


<h2>Log in</h2>
<%= form_with url: session_path do |form| %>
  <div>
    <%= form.label :name, "Name" %><br>
    <%= form.text_field :name, required: true, autofocus: true, autocomplete: "username" %>
  </div>

  <div>
    <%= form.label :password, "Password" %><br>
    <%= form.password_field :password, required: true, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= form.check_box :remember_me %>
    <%= form.label :remember_me, "Remember me" %>
  </div>

  <%= form.submit "Log in", class: "btn btn-sm btn-primary" %>
  
<% end %>
<br>

<%= link_to "Sign up", new_user_path %><br />
<%= link_to "Forgot password?", new_password_path %>
