<h2>Editing Group</h2>

<%= form_with model: @group do |f| %>
  <div class="form-group">
    <label>グループ名</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>紹介文</label>
    <%= f.text_area :introduction, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>グループ画像</label>
    <%= f.file_field :image, class: 'form-control-file' %>
  </div>
  <%= f.submit 'Update Group', class: 'btn btn-success' %>
<% end %>