<h2>Event Mail</h2>
<%= form_with url: group_send_mail_path(@group), method: :get, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content, "Content" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= f.submit "送信", class: "btn btn-success" %>
<% end %>