<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-2'>
  		<h2>Group Detail</h2>
  		<table class='table table-hover table-inverse'>
  		  <thead>
  		    <tr>
  		      <th></th>
  		      <th>グループ名</th>
  		      <th>紹介文</th>
  		      <th>メンバー</th>
  		      <th colspan="3"></th>
  		    </tr>
  		  </thead>
  		  <tbody>
  		    <tr>
  		      <td><%= image_tag @group.get_image, size: '50x50' %></td>
  		      <td><%= @group.name %></td>
  		      <td><%= @group.introduction %></td>
  		      <td>
  		        <% @group.users.each do |user| %>
  		          <li style="list-style: none;"><%= user.name %></li>
  		        <% end %>
  		      </td>
  		      <td>
  		        <% if @group.owner_id == Current.user.id %>
  		          <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
  		        <% end %>
  		      </td>
						<td>
							<% if @group.owner_id !=Current.user.id %>
							  <% if @group.users.include?(Current.user) %>
								  <%= button_to 'Leave this group', group_group_user_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
								<% else %>
									<%= button_to 'Join this group', group_group_user_path(@group), method: :post, class: "btn btn-sm btn-primary" %>
								<% end %>
							<% end %>
						</td>
  		    </tr>
  		  </tbody>
  		</table>
    </div>
  </div>
</div>